In [1]:
import pandas as pd
import numpy as np
import KAUtils as KAU
   

def printWinners(df):
    bjpdf = df.loc[(df['PARTY']=='BJP') & (df['POSITION'] == 1)]
    print("BJP: ",len(bjpdf.index))
    incdf = df.loc[(df['PARTY']=='INC') & (df['POSITION'] == 1)]
    print("INC: ",len(incdf.index))
    jdsdf = df.loc[(df['PARTY']=='JD(S)') & (df['POSITION'] == 1)]
    print("JDS: ",len(jdsdf.index))
    inddf = df.loc[(df['PARTY']=='IND') & (df['POSITION'] == 1)]
    print("IND: ",len(inddf.index))

In [2]:
fdf = KAU.getKAResults()

In [4]:
ydf = KAU.getKAResultsByYear(2013)

In [5]:
ydf = KAU.changeElectionYear(ydf,2013,2018)

In [7]:
ydf = KAU.kjp2bjp(ydf,100)

In [8]:
ydf = KAU.bsrcp2bjp(ydf,100)

In [9]:
ydf1 = ydf.loc[ydf['VOTES'] > 0]

In [13]:
ydf = ydf1

In [17]:
fdf1 = fdf.loc[fdf['YEAR'] <= 2013]

In [22]:
import pandas as pd
mdf = pd.concat([fdf1,ydf1])

In [23]:
mdf.tail()

,ST_NAME,YEAR,AC_NO,POSITION,AC_NAME,AC_TYPE,NAME,SEX,AGE,CATEGORY,PARTY,VOTES
19891,Karnataka,2018,224,4,GUNDLUPET,GEN,B.P. MUDDUMALLU,M,52.0,GEN,JD(S),4017.0
19892,Karnataka,2018,224,5,GUNDLUPET,GEN,G.M. GADKAR,M,53.0,GEN,SAJP,3123.0
19893,Karnataka,2018,224,6,GUNDLUPET,GEN,SUBHASH,M,38.0,SC,IND,3041.0
19895,Karnataka,2018,224,7,GUNDLUPET,GEN,P. SANGHASENA,M,50.0,SC,RPI(A),1588.0
19896,Karnataka,2018,224,8,GUNDLUPET,GEN,MARIDASAIAH,M,58.0,SC,IND,1546.0

In [24]:
mdf.to_csv("./Data/KA_Projected_Base_Results.csv")